name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
        runs-on: [ubuntu-latest]

    steps:
      - name: Get Credentials
        env:
          AWS_CREDENTIALS: |
            ${{ secrets.AWS_CREDENTIALS }}
        shell: bash
        run: |
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          wc ~/.aws/credentials

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install Package
        run: python -m pip install .[dev]

      - name: Run Tests
        run: python -m pytest -ra --cov --durations=5

  all-pass:
    name: All CI checks passed
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - name: Print Confirmation
        run: echo "All matrix tests passed!"
